.vertical-timeline {
  position: relative;
  padding: 0;
  list-style: none;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
  }
}

.vertical-timeline-element {
  position: relative;



  .vertical-timeline-element-icon {
    position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 50%;
    z-index: 3;

    svg {
      width: 20px;
      height: 20px;
      fill: #000000;
    }
  }
  @media screen and (max-width: 767px) {
    .vertical-timeline-element-icon {
      left: 0;
  }
    
  }

  .vertical-timeline-element-content {
    position: relative;
    margin-left: 40px;
    z-index: 4;
    background-color: rgb(92, 92, 92);


    .vertical-timeline-element-date {
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }

    .vertical-timeline-element-title {
      color: #000000;
      font-size: 18px;
      font-weight: 600;
      margin: 10px 0 0;
    }

    p {
      color: #000000;
      font-size: 16px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 12px;
      right: -5px;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-left: 12px solid transparent;
      border-bottom: 12px solid transparent;
      z-index: 2;
    }

    &.vertical-timeline-element--work {
      &:before {
        background-color: #4CAF50;
      }
    }

    &.vertical-timeline-element--education {
      &:before {
        background-color: #2196F3;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .vertical-timeline-element {
      margin-bottom: 50px;
    }
    .vertical-timeline-element-content {
      margin-left: 100px;
    }
    .vertical-timeline-element-date {
      font-size: 12px;
      transform: translateY(10px);
    }
    .vertical-timeline-element-title {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
}
