.chrono__card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.chrono__title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chrono__subtitle {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.chrono__text {
  color: #666;
  font-size: 16px;
}

.chrono__group-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.chrono__line {
  background-color: #ccc;
  height: 2px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  width: 100%;
  z-index: -1;
}

.chrono__item {
  margin-bottom: 50px;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &:before {
    background-color: #ccc;
    border-radius: 50%;
    content: '';
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    z-index: 1;
  }

  &:after {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    content: '';
    height: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    z-index: 2;
  }
}
