.navbar-container-all{
    background-color:#6a6a6a4f;
    display: flex;
    align-items: center;
    transform: none;
    transform-origin: 50% 50% 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;

}