
.tools{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.skills{
width: 20%;
padding: 10px;

}
.container-skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-content: center;
  flex-wrap: wrap;
}
.image-skills{
  width: 100%;
}
.angular-container{
  border-radius: 2%;
  background-image: linear-gradient(135deg, #620097 0%, #8a23b6 50%, #620097 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}